html {
  box-sizing: border-box;
  display: block;
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  clear: both; 
} 

*, *::before, *::after { 
  box-sizing: inherit;
  padding: 5;
  margin: 5; 
}